<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.serviceModel>
    <extensions>
      <!--<bindingExtensions>
        <add name ="pollingDuplex" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement, System.ServiceModel.PollingDuplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>-->
      <bindingElementExtensions>
        <add name="pollingDuplex" type="System.ServiceModel.Configuration.PollingDuplexElement, System.ServiceModel.PollingDuplex"/>
      </bindingElementExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>

      <!--<pollingDuplex >
        <binding name="myPollingDuplex" duplexMode="MultipleMessagesPerPoll" ></binding>
      </pollingDuplex>-->
      <basicHttpBinding>
        <binding name="MyBinding" maxBufferSize="2000000" maxReceivedMessageSize="2000000" sendTimeout="00:50:35" receiveTimeout="00:50:00" >
          <readerQuotas maxStringContentLength="2000000" maxArrayLength="2000000" />
        </binding>
      </basicHttpBinding>
    
      <customBinding>
        <binding name="myPollingDuplex" sendTimeout="00:50:35" receiveTimeout="10:00:00">
          <!--The pollingDuplex element allows us to configure the maxPendingSessions and maxPendingMessagesPerSession attributes along with the serverPollTimeout-->
          <pollingDuplex duplexMode="SingleMessagePerPoll" inactivityTimeout="00:50:40" maxPendingSessions="2147483647" maxPendingMessagesPerSession="2147483647" serverPollTimeout="00:50:30"/>
          <binaryMessageEncoding/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="StreamedResponse">
            <extendedProtectionPolicy policyEnforcement="Never"/>
          </httpTransport>
        </binding>
        <binding name="SubastAutos.Web.ServiciosAlCliente.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="SubastAutos.Web.Remoting.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        
      </customBinding>
    </bindings>
    <services>
      <service name="SubastAutos.Web.ServiciosAlCliente">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding"
          contract="SubastAutos.Web.ServiciosAlCliente" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SubastAutos.Web.Remoting">
        <endpoint address="Remoting" binding="customBinding"  bindingConfiguration="myPollingDuplex"
          contract="SubastAutos.Web.Remoting" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
	<system.web>
	<compilation debug="true"/></system.web>
</configuration>
